<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}

</head>

<body>

    {{ partial "header.html" . }}

    <section class="section four-o-four">
      <div class="container text-center">
        <h1 class="display-1">404</h1>
        <h4>Page introuvable</h4>
        <p>
          Cette page est introuvable.
        </p>
        <a href="{{ .Site.BaseURL | absURL }}" class="btn btn-primary">Retourner à l'accueil</a>
      </div>
    </section>

    {{ partial "footer.html" . }} 
    {{ partial "base-foot.html" . }}
  </body>
</html>
<!-- endinject -->